h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 50px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    max-width: 300px; 
    margin: 0 auto;
    text-align: center;

}

.btn {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); 
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
}

.btn:disabled {
    color: #000;
    cursor: not-allowed;
}

.result-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #fff;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.result-container p {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.reset-section {
    text-align: center;
}

.reset-btn {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px 20px;
    font-size: 20px;
}

.reset-btn:hover {
    background-color: #fff;
    color: #000;
}
